<?xml version="1.0"?>
<!--
/**
 * @category    Magento Module
 * @package     Coupon
 * @copyright   Copyright (c) 2017 Shahed Jamal.
 * @purpose     Local codepool xml config.
 * @author      Shahed Jamal
 **/
-->
<config>
    <modules>
        <Shahed_Coupon>
            <version>0.1.3</version>
        </Shahed_Coupon>
    </modules>
    <global>
        <!-- Define helper directory -->
        <helpers>
            <shahed_coupon>
                <class>Shahed_Coupon_Helper</class>
            </shahed_coupon>
        </helpers>
        <models>
            <shahed_coupon>
                <class>Shahed_Coupon_Model</class> <!-- Location of all model class files -->
            </shahed_coupon>
        </models>
        <events>
            <salesrule_validator_process>
                <observers>
                    <Shahed_Coupon_Model_Observer>
                        <type>singleton</type>
                        <class>shahed_coupon/observer</class>
                        <method>saveOrderDetailsInHistory</method>
                    </Shahed_Coupon_Model_Observer>
                </observers>
            </salesrule_validator_process>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <Shahed_Coupon_Model_Observer>
                        <type>singleton</type>
                        <class>shahed_coupon/observer</class>
                        <method>removeCustomPrice</method>
                    </Shahed_Coupon_Model_Observer>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
        </events>
    </global>
    <default>
        <shahed_coupon>
            <settings>
                <enabled>1</enabled>
            </settings>
        </shahed_coupon>
    </default>
</config>